/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: inherit;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  /*@media @mobile {*/
  /*width: 90%;*/
  /*margin: 0 5%;*/
  /*}*/
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  opacity: 0.7;
  /*background:*/
  /*border: @showMe;*/
}
.nav__container a {
  text-decoration: none;
  font-size: 4rem;
  margin-top: 5%;
}
.twitter__logo {
  color: #38a1f3;
}
.facebook__logo {
  color: #3b5998;
}
.insta__logo {
  color: #8a3ab9;
}
.link__logo {
  color: #0077b5;
}
.social__toggle--btn {
  color: black;
  font-size: 4rem;
  border: none;
  margin-right: 2rem;
  margin-top: 5%;
}
.logo-img {
  margin-top: 5%;
}
.hero__container {
  background-image: url('../assets/analog-antique-aperture-1005332.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  height: 100vh;
}
.hero__container .hero__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 20% auto;
  opacity: 0.8;
  background: black;
  border-radius: 2%;
  /*border: @showMe;*/
}
.hero__container .hero__section .hero__intro {
  color: white;
  /*border: @showMe;*/
  font-size: 2.5rem;
  letter-spacing: 0.4rem;
  line-height: 5.5rem;
  margin-bottom: 0;
  padding: 0.1rem;
}
.hero__container .hero__section .cta__btn {
  width: 65%;
  font-size: 3.5rem;
  margin: 2% 0;
  background: black;
  border: 3px solid white;
  color: white;
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 300;
  src: local('Lato Light Italic'), local('Lato-LightItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI9w2_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v14/S6u_w4BMUTPHjxsI5wq_Gwfo.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPHA.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPHA.ttf) format('truetype');
}
