//HEADER STYLES

.nav__container {
	.custom-layout(space-between, center);
	border: @showMe;
}

.nav__container a {
	text-decoration: none;
	font-size: 4.0rem;
}

.twitter__logo {
	color: #38a1f3;
}

.facebook__logo {
	color: #3b5998;
}

.insta__logo {
	color: #8a3ab9;
}

.link__logo {
	color: #0077b5;
}

.social__toggle--btn {
  color: black;
  font-size: 4.0rem;
  border: none;
}

.logo-img {

}
