//HOME
 .hero__container {
  background-image: url('../assets/analog-antique-aperture-1005332.jpg');
  background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	height: 100vh;
}
