//WHO WE ARE SECTION STYLING

.whoWeAre__container {
	.custom-layout(center, center);
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 auto;
	/*width: 57%;*/
	/*border: @showMe;*/

	@media @450 {
		max-width: 100%;
		/*background-color: green;*/
	}

	.whoWeAreImgs__container {
		.custom-layout(center, center);
		flex-wrap: wrap;
		/*position: relative;*/
		width: 100%;

		/*@media @700 {*/
			/*width: 70%;*/
		/*}*/

		img {
			height: 192px;
			width: 192px;
			&:hover {
				transform: scale(1.1);
				border: 1px solid black;
			}
		}

		@media @600 {
			/*border: @showMe;*/
			width: 90%;
		}


		@media @700 {
			/*border: @showMe;*/
			margin: 0 auto;
			width: 70%;
		}

		@media @phone {
			flex-direction: column;
			/*border: @showMe;*/
		}
	}

	@media @phone {
		margin: 1%;
	}

	@media @450 {
		.center();
	}

	h2 {
		margin-bottom: 3%;
		font-size: 4rem;
		text-transform: uppercase;
		background: linear-gradient(to right, black, #848484);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media @600 {
			margin-top: 3%;
		}

		@media @550 {
			margin-top: 5%;
		}

		@media @phone {
			margin: 6% auto;
		}

		@media @450 {
			text-align: center;
			margin-top: 10%;
			.center();
		}
	}

}

// CTA CONTAINER SECTION STYLING

.cta__container {
	.custom-layout(center, space-evenly);
	background: black;
	color: white;
	margin-top: 4%;

	@media @600 {
		.custom-layout(center, center);
		flex-direction: column;
	}

	@media @phone {
		.custom-layout(center, center);
		flex-direction: column;
	}

	h2 {
		color: white;
		font-size: 3.5rem;
		text-align: start;
		width: 70%;
		margin: 2% auto;
		line-height: 5rem;

		@media @1000 {
			font-size: 2.5rem;
			text-align: center;
		}

		@media @phone {
			font-size: 2rem;
		}
	}

	.cta__section--btn {
		width: 250px;
		height: 100px;
		margin: 2% auto;
		border: 2px solid white;
		color: white;
		background: black;
		font-size: 3rem;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		.center();


		&:hover {
			color: lime;
			background: darkgrey;
			border: 2px solid lime;
		}

		@media @1000 {
			width: 200px;
			height: 75px;
		}

		@media @600 {
			width: 80%;
		}

		@media @phone {
			width: 100%;
		}
	}
}
